/* Custom CSS Properties */
:root {
  /* Colors */
  --color-red: #cc002c;
  --color-purple: #6b4687;
  --color-purple-dark: #5e3d77;
  --color-blush: #fff8fa;
  --color-blush-dark: #f6e4e9;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-blush);
}

h1, h2, h3 {
  color: var(--color-red);
  font-family: 'Baloo 2', cursive;
  padding-left: 0;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-purple); /* Header background color */
  color: var(--color-blush);
  position: relative; /* Needed for absolute positioning of dropdown */
}

.header-title {
  margin: 0;
  color: var(--color-blush);
}

.contact-info {
  color: var(--color-blush);
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 10px;
}

.contact-info a {
  text-decoration: none;
  color: var(--color-blush);
}

/* Hamburger menu styles */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px auto;
  background-color: var(--color-blush); /* Color of the hamburger bars */
  transition: all 0.3s;
}

/* Drop-down menu styles */
.hamburger-dropdown {
  position: absolute; /* Position dropdown absolutely */
  top: 68px; /* Adjust based on your header height */
  right: 10px; /* Adjust the position */
  background-color: var(--color-purple); /* Background color for the dropdown */
  border: 1px solid var(--color-blush); /* Border for the dropdown */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  z-index: 1; /* Ensure it appears above other elements */
}

.hamburger-dropdown ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dropdown li {
  padding: 10px 20px; /* Spacing for each option */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.2s; /* Transition for hover effect */
}

.dropdown li:hover {
  background-color: var(--color-blush); /* Highlight on hover */
}

.menu button {
  background-color: var(--color-purple); /* Purple background */
  color: var(--color-blush); /* White text */
  border: none; /* No border */
  padding: 10px 15px; /* Padding around text */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
}

.menu button:hover {
  background-color: var(--color-purple-dark); /* Darker purple on hover */
}

.menu {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.menu.open {
  display: block; /* Show menu when open */
}

.menu.hidden {
  display: none; /* Hide when the hidden class is applied */
}

.menu ul {
  display: flex; /* Use flexbox to arrange items */
  flex-direction: column; /* Stack items vertically */
}

.menu li {
  margin: 10 px; /* Add some space between the buttons */
}

.menu a {
  display: block; /* Make links block-level */
  padding: 10px; /* Add padding for links */
  color: var(--color-purple); /* Link text color */
  text-decoration: none; /* Remove underline */
}

.menu a:hover {
  background-color: var(--color-blush); /* Change background on hover */
  text-decoration: underline; /* Underline on hover */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  cursor: pointer;
  display: inline;
  margin: 0 15px;
  padding: 5px 0;
  font-size: 0.8em;
}

.program-dropdown-header {
  cursor: pointer;
}

.program-dropdown-header:hover {
  color: var(--color-purple);
  text-decoration: underline;
}

.dropdown-arrow {
  margin-left: 8px;
  transition: transform .3s ease;
}

.dropdown-arrow.expanded {
  transform: rotate(180deg);
}

.dropdown-content {
  padding-left: 16px;
}

.program-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.program-card {
  border: 1px solid var(--color-purple);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--color-blush-dark);
  flex: 1 1 200px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

button {
  background-color: var(--color-purple); /* Button background */
  color: var(--color-blush); /* Button text color */
  border: none; /* No border */
  padding: 10px; /* Button padding */
  cursor: pointer; /* Pointer cursor */
}

button:hover {
  background-color: var(--color-purple-dark); /* Button hover color */
}

a {
  background-color: var(--color-purple); /* Button background */
  color: var(--color-blush); /* Button text color */
  border: none; /* No border */
  padding: 10px; /* Button padding */
  cursor: pointer; /* Pointer cursor */
}

a:hover {
  background-color: var(--color-purple-dark); /* Button hover color */
}

.home {
  padding: 20px;
}

h2.testimonials-header {
  cursor: pointer;
  color: var(--color-red);
}

h2.testimonials-header:hover {
  color: var(--color-purple);
  text-decoration: underline;
}

.testimonials-dropdown {
  margin-top: 20px;
  border: 1px solid var(--color-purple);
  border-radius: 8px;
  padding: 20px;
  background-color: var(--color-blush-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonials-dropdown p {
  margin-bottom: 30px;
  padding: 10px;
  border-left: 4px solid var(--color-purple);
  background-color: var(--color-blush);
  border-radius: 4px;
}

.testimonials-dropdown h3 {
  margin-top: 20px;
  color: var(--color-red);
  font-weight: bold;
}

.insights {
  padding: 20px;
}

.article-list {
  list-style: none;
  padding: 0;
}

.article-link {
  background: none;
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.article-link:hover {
  text-decoration: underline;
  background-color: var(--color-blush);
  color: var(--color-red)
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--color-blush);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  max-height: 700px;
  overflow-y: auto; /* Enable vertical scrolling */
  width: 90%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
}

.close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--color-purple);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}

.close-button:hover {
  background-color: var(--color-purple-dark)
}

body.modal-open {
  overflow: hidden; /* Prevent background scrolling */
}

.opt-out {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.opt-out h2 {
  margin-bottom: 10px;
}

.opt-out p {
  margin-bottom: 15px;
}

.opt-out label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.confirmation-message {
  margin-top: 15px;
  color: var(--color-red);
  font-weight: bold;
}

.footer {
  background-color: var(--color-purple);
  color: var(--color-blush);
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--color-blush-dark);
  font-size: 0.84em;
}

.footer-content {
  color: var(--color-blush);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-content div {
  margin: 10px;
  flex: 1;
  min-width: 220px;
  max-width: 280px;
}

.footer-content h3 {
  color: var(--color-blush-dark);
  text-decoration: underline;
  margin: 0 0 10px;
  font-size: 1em;
}

.footer-content a {
  color: var(--color-blush-dark)
}

.footer nav ul {
  color: var(--color-blush);
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.footer nav ul li {
  display: inline;
  margin: 0 15px;
  cursor: pointer;
}

.footer nav ul li a {
  text-decoration: none;
  color: var(--color-blush);
}

.footer nav ul li:hover {
  text-decoration: underline;
}

/* Image Styling */
.home-1 {
  width: 100%;
  max-width: 600px;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Centers the image */
  margin: 0 auto; /* Centers the image horizontally */
}

.home-2-programs-4 {
  width: 100%;
  max-width: 600px;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Centers the image */
  margin: 0 auto; /* Centers the image horizontally */
}

.header-footer-1 {
  width: 100%;
  width: auto; /* Maintain aspect ratio */
  max-height: 80px;
  display: block; /* Centers the image */
  margin: 0 auto; /* Centers the image horizontally */
  background-color: var(--color-blush);
}

.contact-1 {
  width: 100%;
  max-width: 600px;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Centers the image */
  margin: 0 auto; /* Centers the image horizontally */
}

.about div {
  display: flex;
  justify-content: center; /* Centers the images horizontally */
  flex-wrap: wrap; /* Allows wrapping if the screen is too narrow */
  gap: 16px; /* Adds some spacing between images */
}

.programs div {
  display: flex;
  justify-content: center; /* Centers the images horizontally */
  flex-wrap: wrap; /* Allows wrapping if the screen is too narrow */
  gap: 16px; /* Adds some spacing between images */
}

.about-programs-photo-gallery {
  width: 100%;
  max-width: 200px;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the aspect ratio is maintained */
  display: block; /* Centers the image */
  margin: 0; /* Avoids centering each image individually */
  border-radius: 8px; /* Rounds the corners */
}

.about-6 {
  width: 100%;
  max-width: 600px;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Centers the image */
  margin: 0 auto; /* Centers the image horizontally */
}

.programs-1 {
  width: 100%;
  max-width: 200px;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Centers the image */
  margin: 0 auto; /* Centers the image horizontally */
}

.programs-2-3-istock {
  width: 100%;
  max-width: 300px;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Centers the image */
  margin: 0 auto; /* Centers the image horizontally */
}

.programs-5 {
  width: 100%;
  max-width: 400px;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Centers the image */
  margin: 0 auto; /* Centers the image horizontally */
}
